# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files


# URLs and passwords file
credentials.js

# node.js modules
node_modules

# output directory
Pages